    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=1024" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- 修改页面标题 -->
        <title>ITPM | HUST</title>
        
    <!-- 修改content -->
        <meta name="description" content="IT项目管理课程使用，为哈尔滨理工大学经济管理学院信息管理与信息系统系设计。" />
        <meta name="author" content="xinjiang@hrbust.edu.cn" />

        <link href="../css/impress-course.css" rel="stylesheet" />
        <link href="../css/impress-common.css" rel="stylesheet" />
        
        <link rel="shortcut icon" href="../hustlogo72.png" />    
        <link rel="stylesheet" href="../extras/highlight/styles/base16/solarized-light.min.css">

    </head>

    <body class="impress-not-supported">

        <div class="logo"></div>

    <div class="fallback-message">
        <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
        <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
    </div>

    <div id="impress"
        data-transition-duration="1000"
        data-width="1024"
        data-height="768"
        data-max-scale="3"
        data-min-scale="0"
        data-perspective="1000"
        data-autoplay="0">

    <!-- 每一节slide的标题是"cxyt",表示章节标题.如第一章第一节标题就是c11t,第三章第二节标题就是c32t -->
    <!-- 每一节slide的标题页class应该是step,不是step markdown -->
    <!-- 类似地,需要HTML排版的slide,class都是step;可以使用markdown的,class才是step markdown -->
    <div
    id="overview" 
    data-rel-to="title" 
    class="step" 
    data-rel-x="0" 
    data-rel-y="0" 
    data-rel-z="0" 
    data-rotate-x="0"
    data-rotate-y="0"
    data-rotate-z="0"
    data-scale="15">
            
    </div>

    <!-- markdown不能有缩进 -->
    <!-- 但是markdown的code要有四个空格缩进 -->
    <!-- markdown的注释用"//" -->
    <!-- 几个重要文本class:h1到h3,footnote,code,point-->
    <!-- 几个自定义id:big,tiny,pro -->
    <!-- 几个重要图片class:img,icon,draw -->
    <!-- 几个自定义标签:em,strong,inlinecode -->
    <div 
    id="title"
    class="step"
    data-x="0" 
    data-y="0" 
    data-z="0" 
    data-rotate-x="0" 
    data-rotate-y="0" 
    data-rotate-z="0" 
    data-scale="3">
        <h1 align="center">
            IT 项目管理
        </h1>
        <br/>
        <p class="footnote">
            DIM @ SEM @ HUST
            <br/>
            Powered by impress.js &nbsp;
            <img class="icon" src="../favicon.png">
        </p>
    </div>


    <div 
    id="x1"
    class="step markdown"
    data-rel-to="title"  
    data-rel-x="-1500" 
    data-rel-y="-1000" 
    data-rel-z="0" 
    data-rotate-x="0" 
    data-rotate-y="0" 
    data-rotate-z="0" 
    data-scale="1">
    <!-- Y轴和Z轴转动以此类推 -->
# Rotate 0 degrees 
# on the X axis
    </div>

    <div 
    id="x2"
    class="step markdown"
    data-rel-to="x1"  
    data-rel-x="0" 
    data-rel-y="0" 
    data-rel-z="0" 
    data-rotate-x="90" 
    data-rotate-y="0" 
    data-rotate-z="0" 
    data-scale="1">
    <!-- Y轴和Z轴转动以此类推 -->
# Rotate 90 degrees 
# on the X axis
    </div>

    <div 
    id="x3"
    class="step markdown"
    data-rel-to="x1"  
    data-rel-x="0" 
    data-rel-y="0" 
    data-rel-z="0" 
    data-rotate-x="0" 
    data-rotate-y="0" 
    data-rotate-z="0" 
    data-scale="1">
    <!-- Y轴和Z轴转动以此类推 -->
# Rotate 0 degrees 
# on the X axis
    </div>

    <div 
    id="y1"
    class="step markdown"
    data-rel-to="title"  
    data-rel-x="-500" 
    data-rel-y="-1000" 
    data-rel-z="0" 
    data-rotate-x="0" 
    data-rotate-y="0" 
    data-rotate-z="0" 
    data-scale="1">
    <!-- Y轴和Z轴转动以此类推 -->
# Rotate 0 degrees 
# on the Y axis
    </div>

    <div 
    id="y2"
    class="step markdown"
    data-rel-to="y1"  
    data-rel-x="0" 
    data-rel-y="0" 
    data-rel-z="0" 
    data-rotate-x="0" 
    data-rotate-y="90" 
    data-rotate-z="0" 
    data-scale="1">
    <!-- Y轴和Z轴转动以此类推 -->
# Rotate 90 degrees 
# on the Y axis
    </div>

    <div 
    id="y3"
    class="step markdown"
    data-rel-to="y1"  
    data-rel-x="0" 
    data-rel-y="0" 
    data-rel-z="0" 
    data-rotate-x="0" 
    data-rotate-y="0" 
    data-rotate-z="0" 
    data-scale="1">
    <!-- Y轴和Z轴转动以此类推 -->
# Rotate 0 degrees 
# on the Y axis
    </div>

    <div 
    id="z1"
    class="step markdown"
    data-rel-to="title"  
    data-rel-x="500" 
    data-rel-y="-1000" 
    data-rel-z="0" 
    data-rotate-x="0" 
    data-rotate-y="0" 
    data-rotate-z="0" 
    data-scale="1">
    <!-- Y轴和Z轴转动以此类推 -->
# Rotate 0 degrees 
# on the Z axis
    </div>

    <div 
    id="z2"
    class="step markdown"
    data-rel-to="z1"  
    data-rel-x="" 
    data-rel-y="0" 
    data-rel-z="0" 
    data-rotate-x="0" 
    data-rotate-y="0" 
    data-rotate-z="90" 
    data-scale="1">
    <!-- Y轴和Z轴转动以此类推 -->
# Rotate 90 degrees 
# on the Z axis
    </div>

    <div 
    id="z3"
    class="step markdown"
    data-rel-to="z1"  
    data-rel-x="0" 
    data-rel-y="0" 
    data-rel-z="0" 
    data-rotate-x="0" 
    data-rotate-y="0" 
    data-rotate-z="0" 
    data-scale="1">
    <!-- Y轴和Z轴转动以此类推 -->
# Rotate 0 degrees 
# on the Z axis
    </div>

    <!-- 文本长度 
    一级标题，每行最多 5 个字,左对齐；
    二级标题，每行最多 13 个字,居中；
    三级标题，每行最多 13 个字,左对齐；
    四级标题，每行最多 17 个字；
    五级标题，每行最多 22 个字；
    六级标题，每行最多 34 个字；
    正文，每行最多 22 个字，每页最多 12 行正文；
    -->
    <div 
    id="h1"
    class="step markdown"
    data-rel-to="title"  
    data-rel-x="1500" 
    data-rel-y="-1000" 
    data-rel-z="0" 
    data-rotate-x="0" 
    data-rotate-y="0" 
    data-rotate-z="0" 
    data-scale="1">
# 一二三四五
## 一二三四五六七八九十一二三
### 一二三四五六七八九十一二三
#### 一二三四五六七八九十一二三四五六七
##### 一二三四五六七八九十一二三四五六七八九十一二
###### 一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四
一二三四五六七八九十一二三四五六七八九十一二
    </div>

    <!-- 使用img class="small"和标签<lefttext>来实现左文字右图片排版 -->
    <div 
    id="image"
    class="step"
    data-rel-to="title"  
    data-rel-x="-1500" 
    data-rel-y="1000" 
    data-rel-z="0" 
    data-rotate-x="0" 
    data-rotate-y="0" 
    data-rotate-z="0" 
    data-scale="1">
        <img class="small" src="../img/itpm/C01/workout.jpg" alt="">
        <p class="lefttext">
            运营(Operation)是组织为了维持业务而进行的工作。
            <br/>
            项目面向活动的过程管理，注重效果；
            <br/>
            运营面向智能的专业管理，注重效率。
        </p>
    </div>

    <!-- markdown无法左右图文排版,只能上下 -->
    <div 
    id="image2"
    class="step markdown"
    data-rel-to="title"  
    data-rel-x="-500" 
    data-rel-y="1000" 
    data-rel-z="0" 
    data-rotate-x="0" 
    data-rotate-y="0" 
    data-rotate-z="0" 
    data-scale="1">

![](../img/itpm/C01/workout.jpg)

运营是组织为了维持业务而进行的工作。
    </div>

    <!-- 常规链接 -->
    <div 
    id="link1"
    class="step"
    data-rel-to="title"  
    data-rel-x="500" 
    data-rel-y="1000" 
    data-rel-z="0" 
    data-rotate-x="0" 
    data-rotate-y="0" 
    data-rotate-z="0" 
    data-scale="1">
        <h3>1. 项目管理概述</h3>
        <p>
            <a href="itpm_1_1_2202.html">项目</a><br/>
            <a href="itpm_1_2_2202.html">项目管理</a><br/>
            <a href="itpm_1_3_2202.html">项目管理的历史与发展趋势</a><br/>
            <a href="itpm_1_4_2202.html">项目管理背景</a><br/>
            <a href="itpm_1_5_2202.html">项目的成败</a><br/>
            <a href="itpm_1_6_2202.html">项目管理方法</a><br/>
            <a href="itpm_1_7_2202.html">项目管理使用的主要工具</a>
        </p>
    </div>

    <!-- markdown链接 -->
    <div 
    id="link2"
    class="step markdown"
    data-rel-to="title"  
    data-rel-x="1500" 
    data-rel-y="1000" 
    data-rel-z="0" 
    data-rotate-x="0" 
    data-rotate-y="0" 
    data-rotate-z="0" 
    data-scale="1">
### 1. 项目管理概述

- [项目](itpm_1_1_2202.html)
- [项目管理](itpm_1_1_2202.html)
- [项目管理的历史与发展趋势](itpm_1_1_2202.html)    
- [项目管理背景](itpm_1_1_2202.html)
- [项目的成败](itpm_1_1_2202.html)
- [项目管理方法](itpm_1_1_2202.html)
- [项目管理使用的主要工具](itpm_1_1_2202.html)
    </div>

    </div>

    <!--
    <div id="impress-toolbar"></div>
    <div id="impress-help"></div>

    <script>
    if ("ontouchstart" in document.documentElement) { 
        document.querySelector(".hint").innerHTML = "<p>Swipe left or right to navigate</p>";
    }
    </script>
    -->

    <!-- 页面下方显示进度条 -->
    <div class="impress-progressbar">
        <div></div>
    </div>

    <!-- 页面下方显示当前页/总页数 -->
    <div class="impress-progress"></div>

    <!-- 使用markdown写简单页面 -->
    <script type="text/javascript" src="../extras/markdown/markdown.js"></script>

    <!-- 语法高亮,配合<head>中的highlight css起作用 -->
    <script src="../extras/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <!-- impress.js需要放在最下面,并且初始化 -->
    <script src="../js/impress.js"></script>
    <script>impress().init();</script>

    </body>
    </html>